

  
*
{
	box-sizing: border-box;
}
html{
  height:100%;
}

/* Right-aligned section inside the top navigation */
/* .topnav-right {
	float: right;
}


.topnav-right-navbar {
	float: revert;
}

.topnav-right-navbar a:hover{
  color: #ffffff !important;
  
  transition: linear all 0.25s;
}

.topnav-right-navbar span, .topnav-right-navbar a{
  float: revert;
  font-size: 17px;
  padding: 12px !important;
  color: #fff;
} */








