<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Journals</title>
    <link rel="icon" href="images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/static/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/static/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/common.css">
</head>

<body>
    <!--::header part start::-->
    <%- include('header'); %>
    <!-- Header part end-->

  
    <section class="banner_part_otherpage special_cource padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <H2>Aim and Scope</H2>
                    </div>
                </div>
            </div>
            <p align="justify">Asian Journal of Research Scholars is a multidisciplinary research journal, published monthly at present in English and Tamil.   All research papers submitted to the journal will be double - blind peer reviewed by editorial board members and peer reviewers.  Our AJRS journals provide a flat form for Researchers, Academics, Scholars and PG students.   We encourage academics and practitioners in any disciple to contribute papers in their areas.  Your valuable suggestions are always welcome through mail with your contact details,  </p>
            </div>
          </div>
        </br>
          <div class="container">
                    <H3>AIM</H3>
                    <p  align="justify">•	To provide an amazing foundation to researchers for exchanging their knowledge on emerging trends and is ever committed to accept genuine articles for publication that will support researchers.  </p>
                    <p  align="justify">•	To explore the quality research talent and the ideas of the Academicians, Researchers, Scholars, Graduate and Post Graduate students in the fields of Engineering, Science and Social Sciences. </p>   
                    <p  align="justify">•	 To impart the researchers in the aspects of upcoming changes in various fields and to extend publication help through our platform at affordable or at no cost basis in future.   </p>   
                    </br>
            </div>
        </br>
            <div class="container">
                <H3>SCOPE</H3>
                <p  align="justify">Asian Journal of Research Scholars (AJRS Journal) is a monthly Peer-Reviewed, Refereed, and Indexed International Journal especially for scholars. Being International, provides a large readership of global audience in Engineering, Science and Social Sciences.   Hence, AJRS Journal is one of the best platform for researchers to publish their original work in the forms of scholarly articles, research papers, research projects, field studies, reviews, mini-reviews and case studies.  Authors are welcome to contribute unpublished original works, which are not under consideration in any other journals.  
                
               </p>
        </div>
      </div>
    </div>
    </section>

    <!-- <div class="container">
        <div class="row align-items-sm-center align-items-lg-stretch">
            <div class="col-md-5 col-lg-12">
                <div class="learning_member_text">
                    
                    <h3>Instructions for Authors</h3>
                    
                    <p align="justify">The journal invites the submission of original unpublished works, but never submit a manuscript which is under consideration by other journals. It is understood that an author agrees exclusive copyright to the Asian Journal of Research Scholars.  Asian Journal of Research Scholars expects high scientific standards. All submitted papers will therefore will be sent for double-blind refereeing process. Authors are !00% responsible for their manuscripts and the editor does not accept any responsibility for the copyright issues if any received in future. So that, authors are asked to check twice before submitting their work.  Author and co-authors are responsible for any statement or opinion in the articles and the editorial board disclaims legal responsibility for any assertion, opinion or interpretation of the author.</p>
                    
                    
                </div>
            </div>
        </div>





    <div class="row align-items-sm-center align-items-lg-stretch">
         <div class="col-md-5 col-lg-12">
             <div class="learning_member_text">
                 
                 <h3>Role of Authors </h3>
                 
                 <p align="justify">Authors of original research work (not previously published or under consideration for publication elsewhere) should be an accurate presentation of the work carried out. Appropriate citation of previously published works must always be included in the works cited. Financial support if any should be disclosed. Authorship should be limited to four authors to those persons who have made a significant contribution to the work in terms of conception, design, experimental implementation, and data analysis or typing and editing.  All persons making significant contributions should be included as co-authors.  Of course, an English Language Teacher or any other language expert is permitted as a co-author even in technical subjects.  It is unethical to copy, plagiarize, manipulate or giving fake data in a manuscript.  </p>
                                         
             </div>
         </div>
     </div>
     
     
 
 <div class="row align-items-sm-center align-items-lg-stretch">
     <div class="col-md-5 col-lg-12">
         <div class="learning_member_text">
             
             <h3>Role of Editors </h3>
             
             <p align="justify">Editors are to evaluate the suitability of submitted manuscripts for the journal, including: (a) the standard of the manuscript, (b) whether it meets the Aims and Scope of the journal (Of course ours is a multidisciplinary journal), and (c) the originality of the work. The editors will never disclose the information about a submitted manuscript to anyone other than the corresponding author, reviewers or potential reviewers, or other members of the editorial board. Editors will ensure the prompt handling of the review process and will evaluate the merit of manuscripts for intellectual content without regard to race, gender, country of origin, ethnicity, religion, or sexual orientation.  </p>
                                     
         </div>
     </div>
 </div>
 
 
 <div class="row align-items-sm-center align-items-lg-stretch">
     <div class="col-md-5 col-lg-12">
         <div class="learning_member_text">
             
             <h3>Role of Reviewers</h3>
             
             <p align="justify">Peer review is essential to the journal in assisting in making editorial decisions and assisting authors in manuscript improvement. Reviewers should point out relevant publications not cited in the manuscript and point out any similarities with previously published works. Also, our technical staff will execute the instructions given by the reviewers in the prescribed format.   If a potential reviewer feels unfamiliar in an area to review the manuscript, that reviewer should notify the editors immediately and decline the review. Manuscripts received for review will be treated as confidential documents and not shown or discussed with other without authorization from the editors. Authors should expect to receive reviewer reports in a prompt manner, normally within three weeks. Reviewers are expected to be genuine and should never breach of confidentiality, delay of peer review, plagiarism, or conflicts of interest.</p>
                                     
         </div>
     </div>
 </div>
 
 
 
 <div class="row align-items-sm-center align-items-lg-stretch">
     <div class="col-md-5 col-lg-12">
         <div class="learning_member_text">
             
             <h3>Role of Publishers</h3>
             
             <p align="justify">In cases of proven plagiarism or fraudulent publication, the publisher is empowered to carry out appropriate action to avoid controversies by publishing erratum or , in collaboration with the editorial board, will take appropriate action to clarify the situation, publish an erratum, or withdraw the work in controversy.   </p>
                                     
         </div>
     </div>
 </div>
 </div> -->
 </br>
    
    </br>
    </br>
    
    <!-- upcoming_event part start-->

    <!-- learning part start-->
    <!-- <section class="learning_part">
        <div class="container">
            <div class="row align-items-sm-center align-items-lg-stretch">
                <div class="col-md-7 col-lg-7">
                    <div class="learning_img">
                        <img src="images/learning_img.png" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-lg-5">
                    <div class="learning_member_text">
                        <h5>About us</h5>
                        <h2>Learning with Love
                            and Laughter</h2>
                        <p>Fifth saying upon divide divide rule for deep their female all hath brind Days and beast
                            greater grass signs abundantly have greater also
                            days years under brought moveth.</p>
                        <ul>
                            <li><span class="ti-pencil-alt"></span>Him lights given i heaven second yielding seas
                                gathered wear</li>
                            <li><span class="ti-ruler-pencil"></span>Fly female them whales fly them day deep given
                                night.</li>
                        </ul>
                        <a href="#" class="btn_1">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- learning part end-->

    <!-- member_counter counter start -->
    <!-- <section class="member_counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">1024</span>
                        <h4>All Teachers</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">960</span>
                        <h4> All Students</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">1020</span>
                        <h4>Online Students</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">820</span>
                        <h4>Ofline Students</h4>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- member_counter counter end -->

    <!--::review_part start::-->
    <!-- <section class="testimonial_part section_padding">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <p>tesimonials</p>
                        <h2>Happy Students</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="textimonial_iner owl-carousel">
                        <div class="testimonial_slider">
                            <div class="row">
                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img">
                                        <img src="images/testimonial_img_1.png" alt="#">
                                    </div>
                                </div>
                                <div class="col-xl-4 d-none d-xl-block">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-xl-2 d-none d-xl-block">
                                    <div class="testimonial_slider_img">
                                        <img src="images/testimonial_img_1.png" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial_slider">
                            <div class="row">
                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img">
                                        <img src="images/testimonial_img_1.png" alt="#">
                                    </div>
                                </div>
                                <div class="col-xl-4 d-none d-xl-block">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-xl-2 d-none d-xl-block">
                                    <div class="testimonial_slider_img">
                                        <img src="images/testimonial_img_1.png" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial_slider">
                            <div class="row">
                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img">
                                        <img src="images/testimonial_img_1.png" alt="#">
                                    </div>
                                </div>
                                <div class="col-xl-4 d-none d-xl-block">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-xl-2 d-none d-xl-block">
                                    <div class="testimonial_slider_img">
                                        <img src="images/testimonial_img_1.png" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section> -->
    <!--::blog_part end::-->

    <!-- footer part start-->
    <%- include('footer'); %>
    <!-- footer part end-->

    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="/static/javascripts/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/static/javascripts/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/static/javascripts/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/static/javascripts/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/static/javascripts/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/static/javascripts/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/static/javascripts/owl.carousel.min.js"></script>
    <script src="/static/javascripts/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="/static/javascripts/slick.min.js"></script>
    <script src="/static/javascripts/jquery.counterup.min.js"></script>
    <script src="/static/javascripts/waypoints.min.js"></script>
    <!-- custom js -->
    <script src="/static/javascripts/custom.js"></script>
</body>

</html>