<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Journals</title>
    <link rel="icon" href="/static/images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/static/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/static/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/common.css">
</head>

<body>
    <!--::header part start::-->
    <%- include('header'); %>
    <!-- Header part end-->

    

    <!-- feature_part start-->

    <section class="banner_part_otherpage special_cource padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="section_tittle text-center">
                        <H3>EDITORIAL ADVISORY BOARD MEMBERS</h3>
                        
                    </div>
                </div>
            </div>
            
        </div>
    
    </section>



<div class="container">

   <div class="row align-items-sm-center align-items-lg-stretch">
        <div class="col-md-5 col-lg-12">
            <div class="learning_member_text">
                
                
                
                <p> <h4 align="justify">Dr. Shibu N.S., MBA, M. Phil., Ph.D., </h4>
                    <p>Associate Professor &Head,</p>
                    Bharathidasan University, 
                    Tiruchirapalli
                </p>
                <hr/>            
                <p> <h4 align="justify">Dr.M.Kannadhasan., Ph.D., </h4>
                        <p>Assistant Professor of English, </p>
                        Department of English,  
                        Thiruvalluvar University,     
                        Vellore 
                 </p>
                 <hr/>            
                <p> <h4 align="justify">Dr Hina., Ph.D., </h4>
                    <p>Assistant Professor of English,   </p>
                    Maulana Azad National Urdu University, (MANUU)
                    Satellite Campus, 
                    Budgam,
                    J & K
                </p>
                <hr/> 
                <p> <h4 align="justify">Dr. Lourdes Vijayan R., Ph.D    </h4>                          
                    <p>Assistant Professor of English,  </p>                          
                    XIM University,                                                    
                   Odisha, India    
                   </p>
                   <hr/> 
                <p> <h4 align="justify">Dr Srinivasarao Kasarla</h4>
                    <p>Assistant Professor of English,     </p>             
                    Vignan University,
                    Vadlamudi,
                    Guntur, Andhra Pradesh
                    </p>
                    <hr/> 
                <p> <h4 align="justify">Dr. Ashpaq Balsing., Ph.D., </h4>                      
                    <p>  Assistant Professor of English,     </p>               
                    SSBSSMPH Government First Grade College, Kundagol Dt,                                                     Dharwad, Karnataka State. 
                    </p>
                    <hr/> 
                <p> <h4 align="justify">Dr.P.Mythily., M.A.,M.Phil.,Ph.D.,   </h4>                    
                    <p>   Associate Professor & Head,     </p>                  
                    Department of English,
                    Thiruvalluvar Government Arts College, 
                    Rasipuram .
                    </p>
                    <hr/> 
                <p> <h4 align="justify">Dr.S.Vimala., M.A., M.Phil., Ph.D.,  </h4>                       
                    <p>   Assistant Professor of English,</p>
                    PSG College of Arts & Science,                          
                    Coimbatore.
                    </p>
                    <hr/> 
                <p> <h4 align="justify">Dr. S. Diravidamani., M.A.,B.Ed., Ph.D., PGDTE. </h4>
                    <p>  Assistant Professor of English, </p>
                    Government Arts and Science College,                
                    Mettur, Salem Dt. 
                    </p>
                    <hr/> 
                <p> <h4 align="justify">Dr. J. Christina Yakkal Sarojini., M.A., M.Phil., Ph.D., </h4>                                                       Assistant Professor & Head,  
                    <p>  Department of English</p>
                    Voorhees College,                                                    
                    Vellore - 1  
                    </p>
                    <hr/> 
                <p> <h4 align="justify">Dr.K.Kannusamy., M.Com.,M.Phil.,M.B.A.,M.A.(Eco).,M.Phil.,Ph.D., </h4>
                    <p>   Assistant Professor of Commerce, </p>
                    Government Arts and Science College, 
                    Pennagaram
                    </p><hr/> 
                <p> <h4 align="justify">Dr. Rajalakshmi. R.  MA., M.Phil., Ph. D., UGC NET., SET.,  </h4>                                                                          Assistant Professor of English,                                
                    <p>   Seethalakshmi Ramaswami College,</p>
                    Tiruchirappalli
                    </p><hr/> 
                <p> <h4 align="justify">Dr. C. Bharathi., MA., M.Phil., Ph. D.,   </h4>                         
                    <p>  Assistant Professor of English,    </p>                                                                                   JKK Nataraja college of Arts and Science, 
                    Komarapalayam
                    </p><hr/> 
                <p> <h4 align="justify">Dr Hemamalini N., M.A.(eng),M.A(ws),M.Phil.,Ph.D.,PGDCA., Assistant Professor of English,</h4>
                    <p>   Marudhar Kesari Jain College for Women, </p>
                     Vaniyambadi 
                    </p><hr/> 
                <p> <h4 align="justify">Dr.P.Hariprabakaran., M.Sc.,B.Ed.,M.Phil.,M.E.,Ph.D., </h4>
                    <p>  Assistant Professor & Head, </p>
                    Department of Mathematics,
                    Government Arts and Science Colege, 
                    Tirupattur, TN
                    </p><hr/> 
                <p> <h4 align="justify">Dr. R. Mary Christobel., M,A, B.Ed., M.Phil., PhD.,</h4>
                    <p>   Assistant Professor of English, </p>
                    Sardar Raja Arts and Science College, 
                    Vadakkankulam  
                    </p><hr/> 
                <p> <h4 align="justify">Dr.P.Uma., Ph.D., </h4>
                    <p>   Assistant Professor of Tamil, </p>
                    Government Arts and Science College, 
                    Tirupattur
                    </p><hr/> 
                <p> <h4 align="justify">Dr. K. Shanmugasundaram.,  </h4>                              
                    <p>   Assistant Professor & Head,    </p>  
                    Department of Physics,                               
                    Government Arts and Science College, 
                    Thiruvennainallur, TN
                    </p><hr/> 
                <p> <h4 align="justify">Dr.G.Immanuel., M.A., Ph.D., </h4>
                    <p>   Assistant Professor of English,</p>
                    Saveetha Engineering College, 
                    Chennai 
                    </p><hr/> 
                <p> <h4 align="justify">Dr. A. Robby Sebastian Clement., M.A., M.Phil., Ph.D., PGDELT.,</h4>
                    <p>  Associate Professor & Head, </p>
                    Department of English, 
                    Kongu Engineering College, 
                    Perundurai, Erode 
                    </p><hr/> 
                <p> <h4 align="justify">Dr.R.D.Gomathi., M.A.,M.Phil.,Ph.D., </h4>
                    <p>   Assitant Professor of English, </p>
                    Kongu Engineering College, 
                    Perundurai, Erode 
                    </p><hr/> 
                <p> <h4 align="justify">Dr.S.Senthilkumar., M.A.,M.Phil.,Ph.D., </h4>
                    <p>   Assitant Professor of English,     </p>              
                    Kongu Engineering College,
                    Perundurai, Erode 
                    </p><hr/> 
                <p> <h4 align="justify">Dr. B. Sridevi., M.A., M.Phil., Ph.D.</h4>
                    <p>   Assistant Professor of English, </p>
                    Rajalakshmi Institute of Technology,
                    Chennai
                    </p><hr/> 
                <p> <h4 align="justify">Dr. I. Indusoodan., Ph.D., NET., </h4>
                    <p>  Assistant Professor of English, </p>
                    Sri Ramakrishna Engineering College, 
                    Coimbatore 
                    </p><hr/> 
                <p> <h4 align="justify">Dr. Malathy R., M.A., B.Ed., M.Phil., Ph.D.,</h4>
                    <p>  Assistant Professor of English,</p>
                   Sri Eshwar College of Engineering, 
                   Coimbatore
                   </p><hr/> 
                <p> <h4 align="justify">Dr. V. Vani Ayyaswariya., M.A.,M.Phil.,Ph.D., </h4>
                    <p>  Assitant Professor of English, </p>               
                    Kongu Engineering College, 
                    Perundurai, Erode
                    </p><hr/> 
                <p> <h4 align="justify">Dr.S.Sudha., MA.,M.Phil.,M.Ed.,M.A.,Ph.D.,PGDCE.,  </h4>
                    <p>  Assistant Professor, </p>
                    Department of English,     
                    PSG College of Arts and Science, 
                    Coimbatore.
                    </p><hr/> 
                <p> <h4 align="justify">Dr. M. John Suganya., M.A., M.Phil., Ph.D.,</h4>
                    <p>  Assistant Professor, </p>
                    Department of English,     
                    PSG College of Arts and Science, 
                    Coimbatore. 
                    </p><hr/> 
                <p> <h4 align="justify">Dr.S.Indra Priyadarshini., M.Sc,B.Ed., M.Phil., Ph.D., </h4>
                    <p>  Assistant Professor of Mathematics,</p>
                    Loyola Institute of Technology, 
                    Chennai 
                    </p><hr/> 
                <p> <h4 align="justify"> Dr. G. Giriya., M. A., B. Ed., M. Phil., Ph. D., </h4>
                    <p>  Assistant Professor & Head, </p>
                    Department of English,
                    Padmavani Arts and Science College for Women(Autonomous),
                    Salem-11
                    </p><hr/> 
                <p> <h4 align="justify">Dr Ravisha N S., MBA., M.Com., NET., Ph.D.,</h4>
                    <p>  Assistant Professor & Head,</p>
                    Department of Business Administration, 
                    Government First Grade College,
                    Ripponpet, Karnataka
                    </p><hr/> 
                <p> <h4 align="justify">Dr. D Varalakshmi., B.Tech, MBA, Ph.D.,</h4>
                    <p>  Assistant Professor,</p>
                    Department of Business Administration,
                    JNTUA School of Management Studies, 
                    Anantapur, Andhra Pradesh
                    </p><hr/> 
                <p> <h4 align="justify">Dr. Diwakar Chaudhary., MBA, DIBM, PGDM, Ph.D., </h4>
                    <p>   Assistant Professor,   </p>
                    Department of Business Administration, 
                    GL Bajaj Institute of Technology & Management, 
                    Greater Noida                              
                    </p><hr/>
                <p> <h4 align="justify">Dr. K. Kaviarasu., M.A., M.Phil., Ph.D., PGDELT,</h4>
                        <p> Assistant Professor of English,   </p>
                        Vivekananda College, Agasteeswaram,
                        Kanniyakumari – 629 701, TN    
                     </p><hr/> 
                     <p> <h4 align="justify">Dr.V.B.Saktheeswar., M.A., MPhil., Ph.D</h4>
                        <p> Assistant Professor of English,   </p>
                        Madanapalle Institute of Technology and Science,
                        Andhrapradesh
                     </p><hr/> 
                <p> <h4 align="justify"></p>
                


            </div>
        </div>
    </div>
    
   </div> 


</br>
</br>
    <!-- upcoming_event part start-->

    <!-- learning part start-->
    <!-- <section class="learning_part">
        <div class="container">
            <div class="row align-items-sm-center align-items-lg-stretch">
                <div class="col-md-7 col-lg-7">
                    <div class="learning_img">
                        <img src="/static/images/learning_img.png" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-lg-5">
                    <div class="learning_member_text">
                        <h5>About us</h5>
                        <h2>Learning with Love
                            and Laughter</h2>
                        <p>Fifth saying upon divide divide rule for deep their female all hath brind Days and beast
                            greater grass signs abundantly have greater also
                            days years under brought moveth.</p>
                        <ul>
                            <li><span class="ti-pencil-alt"></span>Him lights given i heaven second yielding seas
                                gathered wear</li>
                            <li><span class="ti-ruler-pencil"></span>Fly female them whales fly them day deep given
                                night.</li>
                        </ul>
                        <a href="#" class="btn_1">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- learning part end-->

    <!-- member_counter counter start -->
    <!-- <section class="member_counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">1024</span>
                        <h4>All Teachers</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">960</span>
                        <h4> All Students</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">1020</span>
                        <h4>Online Students</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_member_counter">
                        <span class="counter">820</span>
                        <h4>Ofline Students</h4>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- member_counter counter end -->

    <!--::review_part start::-->
    <!-- <section class="testimonial_part section_padding">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <p>tesimonials</p>
                        <h2>Happy Students</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="textimonial_iner owl-carousel">
                        <div class="testimonial_slider">
                            <div class="row">
                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img">
                                        <img src="/static/images/testimonial_img_1.png" alt="#">
                                    </div>
                                </div>
                                <div class="col-xl-4 d-none d-xl-block">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-xl-2 d-none d-xl-block">
                                    <div class="testimonial_slider_img">
                                        <img src="/static/images/testimonial_img_1.png" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial_slider">
                            <div class="row">
                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img">
                                        <img src="/static/images/testimonial_img_1.png" alt="#">
                                    </div>
                                </div>
                                <div class="col-xl-4 d-none d-xl-block">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-xl-2 d-none d-xl-block">
                                    <div class="testimonial_slider_img">
                                        <img src="/static/images/testimonial_img_1.png" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial_slider">
                            <div class="row">
                                <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-xl-2 col-sm-4">
                                    <div class="testimonial_slider_img">
                                        <img src="/static/images/testimonial_img_1.png" alt="#">
                                    </div>
                                </div>
                                <div class="col-xl-4 d-none d-xl-block">
                                    <div class="testimonial_slider_text">
                                        <p>Behold place was a multiply creeping creature his domin to thiren open void
                                            hath herb divided divide creepeth living shall i call beginning
                                            third sea itself set</p>
                                        <h4>Michel Hashale</h4>
                                        <h5> Sr. Web designer</h5>
                                    </div>
                                </div>
                                <div class="col-xl-2 d-none d-xl-block">
                                    <div class="testimonial_slider_img">
                                        <img src="images/testimonial_img_1.png" alt="#">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section> -->
    <!--::blog_part end::-->

    <!-- footer part start-->
    <%- include('footer'); %>
    <!-- footer part end-->

    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="/static/javascripts/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/static/javascripts/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/static/javascripts/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/static/javascripts/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/static/javascripts/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/static/javascripts/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/static/javascripts/owl.carousel.min.js"></script>
    <script src="/static/javascripts/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="/static/javascripts/slick.min.js"></script>
    <script src="/static/javascripts/jquery.counterup.min.js"></script>
    <script src="/static/javascripts/waypoints.min.js"></script>
    <!-- custom js -->
    <script src="/static/javascripts/custom.js"></script>
</body>

</html>