<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Journals</title>
    <link rel="icon" href="/static/images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/static/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/static/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/common.css">
</head>

<body>
    <!--::header part start::-->
    <%- include('header'); %>
    <!-- Header part end-->

    <!-- breadcrumb start-->
    <!-- <section class="banner_part_editorial">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                       <div class="breadcrumb_iner_item">
                            <h2>About Us</h2>
                            <p>Home<span>/</span>About Us</p>
                        </div> -->
                    <!-- </div>
                </div>
            </div>
        </div>
    </section> --> 
    <!-- breadcrumb start-->

    <!-- feature_part start-->

    <section class="banner_part_otherpage special_cource padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <H3>PEER REVIEW COMMITTEE MEMBERS</H3>
                        
                    </div>
                </div>
            </div>
            
        </div>
    
    </section>

</br>
</br>


<div class="container">

   <div class="row align-items-sm-center align-items-lg-stretch">
        <div class="col-md-5 col-lg-12">
            <div class="learning_member_text">
                
                
                
                <p> <h4 align="justify">Dr. A. Felix., M. Sc., M.A., M.Ed., M. Phil.,  Ph. D., NET,   B. Ph., HDCA., PGDHET., </h4>
                    <p>    Assistant Professor,</p>
                     Immaculate College for Women,
                     Viriyur, TN
                    
                </p>
                            
                <p> <h4 align="justify">Dr. M. Nalini.,  </h4>
                    <p>    Assistant Professor of Zoology,  </p> 
                    Poompuhar College,                                   
                    Melaiyur, Sirkali – 609107
                    TN
                     
                 </p>
                <p> <h4 align="justify">Dr Hina., Ph.D.,  </h4>
                    <p>   Assistant Professor of English, </p>           
                    Maulana Azad National Urdu University, (MANUU)
                    Satellite Campus, 
                    Budgam,
                    J & K
                    </p>
                <p> <h4 align="justify">Dr.S.V.Ashok Kumar., Ph.D.,  </h4>
                    <p>    Professor, Department of English, </p>
                    Excell Engineering College, 
                    Komarapalayam
                     
                   </p>
                
                <p> <h4 align="justify">Dr.A.Shajitha Banu., M.A., M.Phil., Ph.D., </h4>
                    <p>    Assistant Professor of English,  </p>
                    Sri Eshwar college of Engineering, 
                    Coimbatore
                    </p>
                <p> <h4 align="justify">Dr.Manik Sonawane., Ph.D.,  </h4>  
                    <p>   Assiciate Professor & Head,</p>
                    Department of Politicsl Science,       
                    Tilak Maharashtra Vidyapeeth, 
                    Pune, Maharastra
                    </p>
                <p> <h4 align="justify">Dr. J. Jesu Latha., M.A.,M.Phil.,PhD.  </h4>
                    <p>   Assistant Professor of English, </p>
                    Annai Velankanni College, 
                    Tholayavattam
                    </p>
                <p> <h4 align="justify"> Dr. Somvir Arya., Ph.D.,  </h4>
                    <p>   Assistant Professor, </p>
                    Baba Mastnath University, 
                    Rohtak, Haryana
                    </p>
                <p> <h4 align="justify">Dr B. Ajantha., M.A., M.Phil., MBA., Ph.D.,   </h4>
                    <p>   Assistant Professor of English,</p>
                    Sri S. Ramasamy Naidu Memorial College, 
                    Sattur 
                    </p>
                <p> <h4 align="justify">Dr. J. Ranjithkumar., Ph.D., </h4>
                    <p>   Professor, Department of English, </p>
                   Sri Sairam Engineering College, 
                   Chennai 
                   </p>
                <p> <h4 align="justify">Mrs. Benila S R., M.A., M.Phil., (Ph.D)     </h4>
                    <p>   Assistant Professor of English, </p>
                    St. Teresa Arts and Science College for Women, 
                    Mangalakuntu
                    </p>
                <p> <h4 align="justify">Ms. J. Shrivaishnavi., M.A., (Ph.D).,  </h4>
                    <p>   Assistant Professor of English, </p>
                    Sri GVG Visalakshi College for Women, 
                    Udumalpet, TN 
                    </p>
                <p> <h4 align="justify">Ritik Kashwani., BDS.,  </h4>
                    <p>   School of Dental Sciences, </p>
                    Sharda University, UP
                    </p>
                <p> <h4 align="justify">Dr.Krishna Sudheer Annavajjala., MBA., Ph.D.,  </h4>
                    <p>   Professor & Head, </p>
                    Department of Business Administration, 
                    KL Deemed to be University, 
                    Hyderabad, Telangana,
                    </p>
                <p> <h4 align="justify">Ms. O. Alisha.,M. A., M. Phil., NET, SET, (Ph. D). </h4>
                    <p>   Assistant Professor of English, </p>
                    The American College,
                    Madurai 
                    </p>
                <p> <h4 align="justify">Suryam Gugulothu., </h4>
                    <p>  Assistant Professor of Pharmacy, </p>
                    Vishnu Institute of Pharmaceutical Eduucation and Research, Narasapur, 
                    AP 
                    </p>
                <p> <h4 align="justify">Dr. Avvinish Narine.,  </h4>
                    <p>   Ph.D Scholar, </p>
                    National Institute of Ayrveda,
                    Jaipur
                    </p>
                <p> <h4 align="justify">Ms. Devarshi Modi.,M.A., M.Phil, GSET.,   </h4>
                    <p>  Assistant Professor of English, 
                    Indian Institute of Teacher Education  ( IITE)
                    Gujrat
                    </p>
                <p> <h4 align="justify">Mr.K.Meenendranath Reddy., M.Tech.,  </h4>
                    <p>  Assistant Professor, EEE Department,</p>
                    SVR Engineering College, 
                    Nandyal, 
                    Kurnool Dt, AP
                    </p>
                <p> <h4 align="justify">   Naina Goyal.,     </h4>                                                      
                    <p>   Research Scholar,      </p>                                                      
                    Punjab University,                                                                                  Patiala, Punjab, India
                    
                    </p>
                              


            </div>
        </div>
    </div>
    
    
</div>

</br>
</br>
    <%- include('footer'); %>
    <!-- footer part end-->

    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="/static/javascripts/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/static/javascripts/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/static/javascripts/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/static/javascripts/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/static/javascripts/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/static/javascripts/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/static/javascripts/owl.carousel.min.js"></script>
    <script src="/static/javascripts/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="/static/javascripts/slick.min.js"></script>
    <script src="/static/javascripts/jquery.counterup.min.js"></script>
    <script src="/static/javascripts/waypoints.min.js"></script>
    <!-- custom js -->
    <script src="/static/javascripts/custom.js"></script>
</body>

</html>