<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Journals</title>
    <link rel="icon" href="images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/dataTables.jqueryui.min.css" /> 
    <link rel="stylesheet" href="/static/css/scroller.jqueryui.min.css" />
    <!-- animate CSS -->
    <link rel="stylesheet" href="/static/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/static/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/home.css" />
    <link rel="stylesheet" href="/static/css/nice-select.css">
    
    <link rel="stylesheet" href="/static/css/mimic.css">
    <link rel="stylesheet" href="/static/css/student-registration.css">
    <link rel="stylesheet" href="/static/css/staff.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/animatedheader.css">
    
</head>

<body>

    <!-- <form action="/member_details" id="was-validated" autocomplete="off" class="was-validated" method="post" enctype="multipart/form-data"></form> -->
    <!--::header part start::-->
    <%- include('header'); %>


    <!-- upcoming_event part start-->

    <!-- learning part start-->
    <form action="/beamember" id="was-validated" autocomplete="off" class="was-validated" method="post" enctype="multipart/form-data">

     <% if (typeof message !== 'undefined' && message) { %><strong id="member_details_status_panel" <% if (typeof status !== 'undefined' && studentstatus) { %>class="<%= studentstatus %>" <%}%> style="overflow-x: auto;"><%= message %></strong><% } %> 
      		   <!-- <div class="col-md-8 mb-3 profile-upload-container"> -->
		         <!-- <input type="file" single id="studentimagefile" name="studentimagefile" accept="image/gif, image/jpeg, image/png" /> -->
    	         <!-- <img id="uploadfilepaper" src="/static/images/profile-img.png" alt="student image" class="visible" />  -->
          
    	          
    <section class="banner_part_otherpage learning_part member_details">
        <div class="container">
                <div class="col-lg-12 col-xs-12">
                    <div class="learning_member_text ">
                        <div id="accordion" class="container">
                            <div class="row">
                                    <div class="col-12 collapse-header card-header" data-toggle="collapse"  data-target="#collapseOne">PAPER DETAILS<i class="fa fa-plus more-less"></i></div>
                                    <div id="collapseOne" class="panel-collapse collapse show collapse-panel-custom-style" data-parent="#accordion">
                                        <table id="moneyvalue-registerdetails" class="table table-striped staff-personal-details-custom">
                                            <tbody>
                                                <tr>
                                                    <td colspan="5">
                                                        <label for="ptitle">Name</label>
                                                    </td>
                                                    <td colspan="5">                                         
                                                            <input type="text" class="form-control form-rounded wrapper" data-toggle="tooltip"  data-placement="top"   id="name"  name="name"  required/><i class="fa fa-question-circle" title="Enter your Name"></i>                                                                                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="5">
                                                        <label for="arearch">Designation</label>
                                                    </td>
                                                    <td colspan="5">                                         
                                                         <input type="text" class="form-control form-rounded wrapper" data-toggle="tooltip"  data-placement="top"   id="designation"  name="designation"  required/><i class="fa fa-question-circle" title="Enter your Designation"></i>                                                            
                                                    </td>
                                                </tr>
                                                
                                                                                                 
                                          
                                                <tr>
                                                    <td colspan="5">
                                                        <label for="instaddress">Enter your Institute Address</label>
                                                    </td>
                                                    <td colspan="5">                                         
                                                       
                                                        <textarea name="instaddress" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true" aria-invalid="false" style="height: 81px;"></textarea><i class="fa fa-question-circle" title="Enter your Institute Address"></i> 
                                                        
                                                    </td>
                                                   
                                                </tr>

                                                <tr> 
                                                    <td colspan="5">
                                                        <label for="mailid">Email Id</label>
                                                    </td>
                                                    <td colspan="5">                                         
                                                            <input type="text" class="form-control form-rounded wrapper" data-toggle="tooltip"  data-placement="top"   id="mailid"  name="mailid"  required/> <i class="fa fa-question-circle" title="Enter the Email ID"></i>                                                           
                                                    </td>
                                                </tr>

                                                <tr> 
                                                    <td colspan="5">
                                                        <label for="contactno">Contact No</label>
                                                    </td>
                                                    <td colspan="5">                                         
                                                            <input type="text" class="form-control form-rounded wrapper" data-toggle="tooltip"  data-placement="top"   id="contactno"  name="contactno"  required/> <i class="fa fa-question-circle" title="Enter your Contact Number"></i>                                                           
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        
                                    </div>
                    
            

                        <div class="container">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                               <input class="form-check-input" type="checkbox" name="remember" required> I agree the terms & conditions.
                               <div class="invalid-feedback">Check this checkbox to continue.</div>
                            </label>
                         </div>

                                <input id="member_details_save_btn" type="submit" value="Save"
                                   class="btn btn-primary pull-left btn-submit" style="margin-right: 10px"/>
                                <a id="submitpape_clear_btn" class="btn btn-primary" href="/beamember" role="button">Clear</a>
                                        
                        </div>
        </section>
                    
    </form>

    <!-- footer part start-->
    <%- include('footer'); %>
    <!-- footer part end-->

    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="/static/javascripts/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/static/javascripts/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/static/javascripts/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/static/javascripts/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/static/javascripts/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/static/javascripts/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/static/javascripts/owl.carousel.min.js"></script>
    <!-- <script src="/static/javascripts/jquery.nice-select.min.js"></script> -->
    <!-- swiper js -->
    <script src="/static/javascripts/slick.min.js"></script>
    <script src="/static/javascripts/jquery.counterup.min.js"></script>
    <script src="/static/javascripts/waypoints.min.js"></script>
    <!-- custom js -->
    <!-- <script src="/static/javascripts/custom.js"></script> -->
    <script src="/static/javascripts/common.js"></script>
    <script src="/static/javascripts/custom.js"></script>
    <script src="/static/javascripts/jquery.blockUI.js"></script>
    <script src="/static/javascripts/beamember.js"></script>
    <script src="/static/javascripts/animatedheader.js"></script>
    <script src="/static/javascripts/TweenLite.min.js"></script>
    <script src="/static/javascripts/EasePack.min.js"></script>
    <script src="/static/javascripts/demo.js"></script>
</body>

</html>