<!doctype html>
<html lang="en">

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Journals</title>
    <link rel="icon" href="images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/static/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/static/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/animatedheader.css">
</head>
<body>
    <!--::header part start::-->
    <%- include('header'); %>
    <!-- Header part end-->

    <!-- breadcrumb start-->
    <!-- <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Contact us</h2>
                            <p>Home<span>/<span>Contact us</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- breadcrumb start-->

  <!-- ================ contact section start ================= -->
  <section class="contact-section section_padding">
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1943.8718018754564!2d79.66052307100767!3d12.988244152929703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52bf56cd537173%3A0xbbc0c75d5521cb0b!2sSam%20Publication%2C%20Asian%20Journal%20of%20Research%20Scholars%2C%20College%20Road%2C%20Attupakkam%2C%20Arakkonam!5e0!3m2!1sen!2sin!4v1698838387411!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>




    <section class="">
        <div class="container">
            <div class="row">
                
                             <div class="col-sm-6 col-md-4 col-xl-4">
                                <h2>Publisher</h2>
                                <div class="media contact-info">
                                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                                    <div class="media-body">
                                      
                                      <p> <strong>Sam Publications</strong> </p>
                                      <p> <strong>Asian Journal of Research Scholars </strong> </p>
                                      <p>No. 1, College Road,</p>
                                      <p>Attupakkam</p>
                                      <p>Nemili Block</p>
                                      <p>Arakkonam (Tk)</p>
                                       <p>Tamilnadu, India </p>
                                    </div>
                                  </div>
                                
                            </div>            
                            <div class="col-sm-6 col-md-4 col-xl-4">         
                                <h2>Editor-in-Chief</h2>
                                <div class="media contact-info">
                                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                                    <div class="media-body">
                                <h4><a class="indexpage_custom" href="#">Dr.P.Samuel</a></h4>
                                <h6><a class="indexpage_custom" href="#">M.A., B.Ed., M.Phil., Ph.D.,</a></h6>
                               <h6><a class="indexpage_custom" href="#">Assistant Professor & Head,</a></h6>
                               <h6><a class="indexpage_custom" href="#">PG Department of English,</a></h6>
                               <h6><a class="indexpage_custom" href="#">Government Arts And Science College,</a></h6>
                               <h6><a class="indexpage_custom" href="#"> Arakkonam - 631051</a></h6>
                               <h6><a class="indexpage_custom" href="#"> drsamenglish@gascarakkonam.ac.in</a></h6>
                           </div>
                           </div>
                        </div>

                           
                           <!-- <div class="col-sm-6 col-md-4 col-xl-4">
                            <div class="">
                                <h2>Plagarism</h2>
                                <h6><a class="dropdown-item" href="/plagarism">Click here to know Plagiarism Policy</a> </h6>
                           
                            </div>
                             </div> -->
                 
        </div>
    </section>
    

        <!-- <div class="row">
            <div class="col-12">
              <h2 class="contact-title">Get in Touch</h2>
            </div>
        
        <h2 class="contact-title">Publisher</h2>

        <div class="col-lg-4">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <h3>Dr.P.Samuel</h3>
              <p> <strong>Sam Publications</strong> </p>
              <p> <strong>Asian Journal of Research Scholars </strong> </p>
                        <p> No 1 College Road,</p>                        
                        <p> Attuppakkam(PO) </p>
                        <p> Arakkonam - 631 051  </p>
                        <p> Ranipet District </p>
                        <p> Tamil Nadu, India</p>
            </div>
          </div>


          <h2 class="contact-title">Editor-in-Chief</h2>

        <div class="col-lg-4">
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <h3>Dr.P.Samuel</h3>
              <p> <strong>Sam Publications</strong> </p>
              <p> <strong>Asian Journal of Research Scholars </strong> </p>
                        <p> No 1 College Road,</p>                        
                        <p> Attuppakkam(PO) </p>
                        <p> Arakkonam - 631 051  </p>
                        <p> Ranipet District </p>
                        <p> Tamil Nadu, India</p>
            </div>
          </div>


          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>+91-9444319730</h3>
              <p>+91-9843719730</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3>ajrsjournal@gmail.com</h3>
              <h3>drsamenglish@gascarakkonam.ac.in</h3>
              
              <p>Send us your query anytime!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <!-- ================ contact section end ================= -->

<!-- footer part start-->
<!-- <footer class="footer-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="single-footer-widget footer_1">
                    <a href="/"> <img src="images/triumphlogo.png" alt=""> </a>
                    <p>But when shot real her. Chamber her one visite removal six
                        sending himself boys scot exquisite existend an </p>
                    <p>But when shot real her hamber her </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="single-footer-widget footer_2">
                    <h4>Newsletter</h4>
                    <p>Stay updated with our latest trends Seed heaven so said place winged over given forth fruit.
                    </p>
                    <form action="#">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder='Enter email address'
                                    onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Enter email address'">
                                <div class="input-group-append">
                                    <button class="btn btn_1" type="button"><i class="ti-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="social_icon">
                        <a href="#"> <i class="ti-facebook"></i> </a>
                        <a href="#"> <i class="ti-twitter-alt"></i> </a>
                        <a href="#"> <i class="ti-instagram"></i> </a>
                        <a href="#"> <i class="ti-skype"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-md-4">
                <div class="single-footer-widget footer_2">
                    <h4>Contact us</h4>
                    <div class="contact_info">
                        <p><span> Address :</span> <strong>2nd A-23, Nehru Nagar, Ghaziabad, UP, India</strong> </p>
                        <p><span> Phone :</span> <strong> +91-9625030262 </strong> </p>
                        <p><span> Email : </span><strong> info@triumphclasses.online </strong> </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright_part_text text-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="footer-text m-0">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://vitarkasolutions.com" target="_blank">Vitarka Solutions</a>
</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> -->
<%- include('footer'); %>
<!-- footer part end-->

<!-- jquery plugins here-->
<!-- jquery -->
<script src="/static/javascripts/jquery-1.12.1.min.js"></script>
<!-- popper js -->
<script src="/static/javascripts/popper.min.js"></script>
<!-- bootstrap js -->
<script src="/static/javascripts/bootstrap.min.js"></script>
<!-- easing js -->
<script src="/static/javascripts/jquery.magnific-popup.js"></script>
<!-- swiper js -->
<script src="/static/javascripts/swiper.min.js"></script>
<script src="/static/javascripts/jquery.nice-select.min.js"></script>
<!-- swiper js -->
<script src="/static/javascripts/masonry.pkgd.js"></script>
<!-- particles js -->
<script src="/static/javascripts/owl.carousel.min.js"></script>
<!-- contact js -->
<script src="/static/javascripts/jquery.ajaxchimp.min.js"></script>
<script src="/static/javascripts/jquery.form.js"></script>
<script src="/static/javascripts/jquery.validate.min.js"></script>
<script src="/static/javascripts/mail-script.js"></script>
<script src="/static/javascripts/contact.js"></script>

<!-- slick js -->
<script src="/static/javascripts/slick.min.js"></script>
<script src="/static/javascripts/jquery.counterup.min.js"></script>
<script src="/static/javascripts/waypoints.min.js"></script>
<!-- custom js -->
<script src="/static/javascripts/custom.js"></script>


<script src="/static/javascripts/animatedheader.js"></script>
    <script src="/static/javascripts/TweenLite.min.js"></script>
    <script src="/static/javascripts/EasePack.min.js"></script>
    <script src="/static/javascripts/demo.js"></script>

<!-- <script src="/static/javascripts/map.js"></script> -->
<!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
</body>

</html>