<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="single-footer-widget footer_1">
                    <!-- <a href="/"> <img src="/static/images/samlogo.jpg" alt=""> </a>
                    <p>But when shot real her. Chamber her one visite removal six
                        sending himself boys scot exquisite existend an </p>
                    <p>But when shot real her hamber her </p> -->

                    
                        <div class="content" >
                          <a href="javascript:;"><i class="zmdi zmdi-account no-underline"></i> AJRS Account &nbsp; &nbsp; <span id="digital-clock" class="no-underline"></span></a>
                          
                          <ul class="login-account-dropdown">
                            
                            <!-- <% if (typeof JOURNAL_USERNAME !== 'undefined' && JOURNAL_USERNAME) { %><a class="no-underline" href="/logout"><i class="fa fa-user mr-rgt-3"></i>Logout</a><%}else{%><a class="no-underline" href="/login"><i class="fa fa-user mr-rgt-3"></i>Login</a> <a class="no-underline" href="/signup"><i class="fa fa-user mr-rgt-3"></i>Signup</a><%}%> -->
                            <% if (typeof JOURNAL_USERNAME !== 'undefined' && JOURNAL_USERNAME) { %><a class="no-underline" href="/logout"><i class="fa fa-user mr-rgt-3"></i>Logout</a><%}else{%><a class="no-underline" href="/login"><i class="fa fa-user mr-rgt-3"></i>Login</a> <%}%>
                          </ul>
                        </div> 
                        </div>
                
            </div>
            <div class="col-sm-6 col-md-4 col-xl-4">
                <div class="single-footer-widget footer_2">
                     <h4>Get in Touch with us..</h4>
                    <span> Phone :</span>  +91-9444319730  </p>
                    <span> Phone :</span>  +91-9843719730  </p>
                    <span> Email : </span> ajrsjournal@gmail.com 
                  
                    <!-- <p>Stay updated with our latest trends Seed heaven so said place winged over given forth fruit.
                    </p>  -->
                    <!-- <form action="#">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder='Enter email address'
                                    onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Enter email address'">
                                <div class="input-group-append">
                                    <button class="btn btn_1" type="button"><i class="ti-angle-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </form> -->
                    <div class="social_icon">
                        <a href="#"> <i class="ti-facebook"></i> </a>
                        <a href="#"> <i class="ti-twitter-alt"></i> </a>
                        <a href="#"> <i class="ti-instagram"></i> </a>
                        <a href="#"> <i class="ti-skype"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-md-4">
                <div class="single-footer-widget footer_2">
                    <h4>Contact us</h4>
                    <div class="contact_info">
                        <span> Address :</span> <strong>Dr.P.Samuel</strong> 
                        <p> <strong>Asian Journal of Research Scholars </strong> </p>
                        <p>No. 1, College Road,</p>
                        <p>Attupakkam </p>
                        <p>Nemili Block</p>
                        <p>Arakkonam (Tk)</p>
                        <p>Tamilnadu, India </p>
                    </td>
                 
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright_part_text text-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="footer-text m-0">
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  <i class="ti-heart" aria-hidden="true"></i> by <a href="www.diligentsquad.com" target="_blank">DiligentSquad Technologies Pvt Ltd.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>