

<header class="main_menu home_menu">

    <!-- <img class=" " src="static/images/ajrsbannernew.jpg" width="1349" height="101" > -->
    
     <div class="header header-bg ">
        <div class="container">
          <div class="">
            <!-- <img class="wrapingimage " src="static/images/ajrslogo.png" width="40" height="50" allign="left"> -->
            <div class="col-md-auto">
                
                <h1><span class="header-title-english content">ABC</span></h1>
                <h1 class="main-title">Connect <span class="thin">Three</span></h1>
                <p align="right">e-ISSN:</p>

              
                
                <!-- <h1 class="header-logo-title"><span class="header-title-english">ABC Publications</span>
                    <span class="issn-no">e-ISSN: </span></h1> -->
                
                
            </br>
                <!-- <span class="header-subtitle">(An International Multidisciplinary Journal) </span> -->
            </div>
             
            <!-- <img class="wrapingimage" src="static/images/ajrslogo.png" width="40" height="50" allign="right"> -->
          </div> 
          <!-- <div class="topnav-right-navbar">
            
            <h2><a class="navbar-brand bizzy-B  letter-C" href="#">Sam Publication </a></h2>
            <a class="navbar-brand bizzy-B  letter-C" href="#">e-ISSN :</a>
          </div> -->
      
          
                <nav class="navbar navbar-expand-lg navbar-light">
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse main-menu-item justify-content-end"
                        id="navbarSupportedContent">
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">Aim & Scope</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="/editordetails">Editorial Board</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/elements">Guidelines</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/archives">Archives</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/submitpaper">Submit Online</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/beamember">Be a member</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact Us</a>
                            </li>
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Links
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <!-- <a class="dropdown-item" href="/callforpapers">Call for Papers</a> -->
                                    <a class="dropdown-item" href="/currentissue">Current Issue</a>
                                    <!-- <a class="dropdown-item" href="/editorial">Editorial Board</a> -->
                                    <a class="dropdown-item" href="/payment">Payment Info</a>
                                    <!-- <a class="dropdown-item" href="/elements">Elements</a> -->
                                    <a class="dropdown-item" href="/submitpaper">Submit Online</a>
                                    <a class="dropdown-item" href="/author-details">Author Details</a>
                                    <a class="dropdown-item" href="/static/util/Reviewreport.pdf" target="_blank">AJRS-ReviewReport</a>
                                    
                                </div>
                            </li>
                         
                        </ul>
                    </div>


                </nav>
            </div>
        </div>
    </div>
</header>

