<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Journals</title>
    <link rel="icon" href="images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/static/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/static/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/animatedheader.css">

</head>

<body>
    <!--::header part start::-->
    <%- include('header'); %>
    <!-- Header part end-->


    <section class="banner_part_otherpage special_cource padding_top">
        <div class="container">
            <div class="row justify-content-center">
              
                    <div class="col-xl-10">
                            <div class="text-center">
                        <h2>Payment</h2>
                    </div>
                    <div class="banner_text">
                        <div class="banner_text_iner">                                             
                            <p>Dear Authors, AJRS avails you various mode of payments for your convenience.
                                We accept direct deposit to the bank or GPAY/PayTM to the following Number.
                                Below are the registration charges for publishing a research paper with AJRS journal as follows.</p>
                            <!-- <a href="#" class="btn_1">View Course </a>
                            <a href="#" class="btn_2">Get Started </a> -->
                        </div>

                        <div class="banner_text_iner">                                             
                            <p>AJRS charges a nominal fee of Rs.1500/-  (up to three authors and additional of Rs.500/- for an additional author) to meet paper handling related works.  </p>
                            <!-- <a href="#" class="btn_1">View Course </a>
                            <a href="#" class="btn_2">Get Started </a> -->
                        </div> </br></br></br>
                        

                    </div>
                </div>
                
            </div>
           
             <div class="col-lg-12 col-xs-12">
                    <div class="learning_member_text ">
                        <div id="accordion" class="container">
                            <div class="row">
                                  
                                <table class="table table-bordered table-inverse">
                                    <thead>
                                      <tr>
                                        <th>Sno</th>
                                        <th>Author Type</th>
                                        <th>Publishing Fee</th>
                                        
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>Indian Authors</td>
                                        <td>1500</td>
                                        
                                      </tr>
                                 
                                      <tr>
                                        <th scope="row">2</th>
                                        <td>Foreign Authors</td>
                                        <td>USD( Based on Dollor rate Equvalent to 1500 INR)</td>
                                        
                                      </tr>
                                      <!-- <tr>
                                        <th scope="row">3</th>
                                        <td>Foreign Authors</td>
                                        
                                        
                                      </tr> -->
                                      
                                    </tbody>
                                  </table>    
                                
                                     
                                        
                            </div>
                        
                    </div>
                </div>


            </div>
        </div>
    <!-- </section> -->
    
    <!-- <section class="advance_feature learning_part"> -->
        <div class="container">
            <div class="row align-items-sm-center align-items-xl-stretch">
                <div class="col-md-6 col-lg-6">
                    <div class="learning_member_text">
                        <!-- <h5>Mode of Payment</h5> -->
                        <h2>Mode of Payment</h2>
                        
                        <h3><span class="ti-hand-point-right">  NEFT Direct bank transfer</span></h3>
                        <b>SAMUEL. P,  Ac. No.30348789926 ,State Bank of India, GH Road, Branch Erode (11057), Ifsc code:SBIN00011057</b>
                        <h3><span class="ti-hand-point-right">  GPAY </span></h3>
                        <b>9843719730</b>
                        <p><span class="ti-hand-point-right">  UPI (BHIM/Tez) </span></p>
                        <p><span class="ti-hand-point-right">  Moblie Wallets (Jio Money/ Mobikwik) </span></p>
                        <!-- <div class="row">
                            <div class="col-sm-6 col-md-12 col-lg-6">
                                <div class="learning_member_text_iner">
                                    <span class="ti-pencil-alt"></span>
                                    <h4>Learn Anywhere</h4>
                                    <p>There earth face earth behold she star so made void two given and also our</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-12 col-lg-6">
                                <div class="learning_member_text_iner">
                                    <span class="ti-stamp"></span>
                                    <h4>Expert Teacher</h4>
                                    <p>There earth face earth behold she star so made void two given and also our</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <!-- <div class="learning_img"> -->
                        <img src="images/payment2.png" alt="">
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </section>
   

   

    <!-- footer part start-->
    <%- include('footer'); %>
    <!-- footer part end-->

    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="/static/javascripts/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/static/javascripts/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/static/javascripts/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/static/javascripts/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/static/javascripts/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/static/javascripts/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/static/javascripts/owl.carousel.min.js"></script>
    <script src="/static/javascripts/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="/static/javascripts/slick.min.js"></script>
    <script src="/static/javascripts/jquery.counterup.min.js"></script>
    <script src="/static/javascripts/waypoints.min.js"></script>
    <!-- custom js -->
    <script src="/static/javascripts/custom.js"></script>

    <script src="/static/javascripts/animatedheader.js"></script>
    <script src="/static/javascripts/TweenLite.min.js"></script>
    <script src="/static/javascripts/EasePack.min.js"></script>
    <script src="/static/javascripts/demo.js"></script
</body>

</html>